html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
 ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
} 

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*MY CODE*/

*{
    text-decoration: none;
}

body{
    background-color: white;
}

header{
    background-color: white;
    width: 100%;
    height: 100px;
}

header .logo {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 900;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
}

header nav ul {
    margin: 0;
    float: left;
    width: fit-content;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    color: #000;
    padding: 0 1rem;
    text-align: center;
}

header nav ul li a {
    font-family: sans-serif;
    font-size: 15px;
    color: #000;
    text-align: center;
}

@media only screen and (min-width:1000px) {
    header .logo {
    margin: 30px 0;
    text-align: left;
    line-height: 40px;
    padding: 0 20px 0 20px;
    border-right: 2px solid #111;
    float: left;
    }

header nav ul {
    margin: 20px 0px 0px 20px;
    float: left;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    color: #000;
    padding: 0 1rem;
    text-align: center;
}

header nav ul li a {
    font-family: sans-serif;
    font-size: 15px;
    color: #000;
    line-height: 60px;
}
}

/* SECTION */

.juju {
    position: relative;
    height: 100vh;
    display: grid;
    padding-top: 300px;
    background: rgba(0,0,0,.75);
}

.juju::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/goran-ivos-idmvPhF8t4E-unsplash.jpg') no-repeat center center/cover;
    z-index: -1;
}

.juju-box{
    grid-template-columns: auto;
}


.juju h1 {
    font-family: sans-serif;
    font-size: 60px;
    color: antiquewhite;
    text-align: center;
    text-shadow: 1.5px 1.5px 6px #111;
    line-height: 65px;
}

.juju h2 {
    font-family: sans-serif;
    font-size: 20px;
    color: antiquewhite;
    text-align: center;
    text-shadow: 1.5px 1.5px 6px #111;  
    line-height: 45px; 
}

.juju .photo {
    width: 25%;
    margin: 0 auto;
    border-radius: 50%;
}

.juju .photo img {
    width: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    padding-bottom: 20px;
}

.juju p {
    color: antiquewhite;
    text-shadow: 1.5px 1.5px 6px #111;
    text-align: center;
}

.juju-links div{
    margin: 15px 15px 15px;
    width: calc(100%-30px);
    height: 50px;
    background-color: #a8a4a4;
}

.juju-links div h3 {
    font-family: sans-serif;
    font-size: 20px;
    color: #111;
    text-align: center;
    text-shadow: 1.5px 1.5px 6px #111;  
    line-height: 45px; 
    text-transform: uppercase;
}

/* FOOTER */
footer{
    width: calc(100%-70px);
    padding: 35px 35px;
    margin-top: .5px;
    background-color: #111;
    height: 100px;
    overflow: hidden;
    text-align: center;
}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
    font-display: center;
    list-style: none;
    padding: 0 1rem;
    text-align: center;
}

footer ul li a {
    font-family: sans-serif;
    font-size: 15px;
    line-height: 50px;
}

.footer-tag {
    color: antiquewhite;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
}

.contacts-links li {
    size: 60px;
}

/* PROJECTS */

h5 {
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    line-height: 65px;
}

.projects{
    height: 850px;
    text-align: center;
    background-color: rgb(150, 175, 175);
  }
  
  h2{
    font-family: Ar cena;
    font-size: 40px;
  }
  
  .row{
    display: flex;
    flex-direction: row;
  }
  
  .column{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
  }
  
  .project-img{
    width: 100%;
    border-radius: 10%;
  }

  @media only screen and (min-width:1000px){
    h5 {
        font-family: sans-serif;
        font-size: 50px;
        line-height: 65px;
    }
    
    .projects{
        height: 850px;
        background-color: rgb(150, 175, 175);
      }
      
      h2{
        font-family: Ar cena;
        font-size: 40px;
      }

    .row{
        display: flex;
        flex-direction: row;
      }
      
      .column{
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 20px;
      }
      
      .project-img{
        width: 100%;
        border-radius: 10%;
      }
  }

  /* SKILLS */

.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h7 {
    font-family: sans-serif;
    font-size: 50px;
    color: rgb(235, 235, 207);
    text-shadow: 1.5px 1.5px 6px #111;
    text-align: center;
    line-height: 65px;
    padding-bottom: 10px;
    font-weight: 900;
}

.skills {
    text-align: center;
    background-image: url(img/laptop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}

.icons {
    width: 512px 512px;
}

.about {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: tomato;
    padding-bottom: 10px;
}

@media only screen and (min-width:750px){
    .skill-grid {
        display: grid;
        grid-template-columns: auto;
        text-align: center;
        width: fit-content;
    }
    
    h7 {
        font-family: sans-serif;
        font-size: 50px;
        color: rgb(235, 235, 207);
        text-shadow: 1.5px 1.5px 6px #111;
        text-align: center;
        line-height: 65px;
        padding-bottom: 10px;
        font-weight: 900;
    }
    
    .skills {
        text-align: center;
        background-image: url(img/laptop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;
    }
    
    .about {
        font-family: sans-serif;
        font-weight: 900;
        font-size: 20px;
        color: tomato;
        padding-bottom: 10px;
    }
}